<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://kit.fontawesome.com/c8a91d9047.js"
      crossorigin="anonymous"
    ></script>
    <title>NWS: Series</title>
  </head>
  <body class="scrollbar-hidden">
    <div
      class="flex flex-col relative min-h-[100vh] w-[100vw] no-scrollbar overflow-hidden bg-[url(/bgimg2.jpg)] bg-no-repeat bg-cover bg-center font-mono"
    >
      <div class="pb-[20vh]">
        <%- include("../components/nav"); %>
        <div class="grid grid-cols-3 gap-8 h-[50vh] w-[80vw] my-0 mx-[auto]">
          <% data.forEach(data => { %>
          <a href="./series/<%= data.Title %>"
            ><img
              class="h-[30vh] w-[20vw]"
              src="<%= data.img %>"
              alt="<%= data.Title %>"
          /></a>
          <% }) %>
        </div>
      </div>
      <%- include("../components/mainFooter"); %>
    </div>
  </body>
</html>
